In [0]:
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
drive.CreateFile({'id': '1SEfGL7YZ8A6kaNl-SFQjeBauSQ_c6MFW'}).GetContentFile('train.csv')

In [0]:
drive.CreateFile({'id': '1fA_BaOmzgtDJZZRjfHFRZQCMblf7L4zy'}).GetContentFile('test.csv')

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# display plots in the notebook
%matplotlib inline
# import color maps
from matplotlib.colors import ListedColormap

# Seaborn for easier visualization
import seaborn as sns

# Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

from math import sqrt

# Function for splitting training and test set
from sklearn.model_selection import train_test_split

# Function to perform data standardization 
from sklearn.preprocessing import StandardScaler

# Libraries to perform hyperparameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

# Import classes for ML Models
from sklearn.linear_model import Ridge  ## Linear Regression + L2 regularization
from sklearn.svm import SVR ## Support Vector Regressor
from sklearn.ensemble import RandomForestRegressor

# Evaluation Metrics
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error as mae
## import xgboost
import os
mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-7.2.0-posix-seh-rt_v5-rev0\\mingw64\\bin'
os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
from xgboost import XGBRegressor
from xgboost import plot_importance  ## to plot feature importance

# To save the final model on disk
from sklearn.externals import joblib

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df1=pd.read_csv('test.csv')

In [ ]:
df

In [4]:
y = df.bestSoldierPerc
# Create separate object for input features
X = df.drop('bestSoldierPerc', axis=1)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

In [6]:
train_mean = X_train.mean()
train_std = X_train.std()

In [7]:
X_train = (X_train - train_mean) / train_std

In [8]:
X_test = (X_test - train_mean) / train_std

In [9]:
s=StandardScaler()
X_train=s.fit_transform(X_train)
X_test=s.transform(X_test)

In [ ]:
tuned_params = {'n_estimators': [100, 200, 300, 400, 500], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4]}
model = RandomizedSearchCV(RandomForestRegressor(), tuned_params, n_iter=20, scoring = 'neg_mean_absolute_error', cv=5, n_jobs=-1)
model.fit(X_train, y_train)

In [0]:
df2=df1.drop(['Unnamed: 0','index'],axis=1)

In [0]:
train_mean =df2.mean()
train_std = df2.std()

In [0]:
df2 = (df2 - train_mean) / train_std

In [0]:
y_pred = model.predict(df2)

In [19]:
y_pred

array([0.39860508, 0.51926609, 0.15079717, ..., 0.40118496, 0.17140945,
       0.7900765 ])

In [0]:
dataframe = pd.DataFrame(data=y_pred)

In [21]:
dataframe

              0
0      0.398605
1      0.519266
2      0.150797
3      0.287935
4      0.318686
5      0.061588
6      0.347411
7      0.218816
8      0.706301
9      0.363866
10     0.756120
11     0.018545
12     0.393639
13     0.435428
14     0.446677
15     0.687632
16     0.730514
17     0.723897
18     0.317146
19     0.982044
20     0.279985
21     0.227510
22     0.207932
23     1.251183
24     0.225304
25     0.487963
26     0.609973
27     0.638342
28     0.815150
29     0.260538
...         ...
13686  0.125694
13687  0.627071
13688  0.072302
13689  0.134212
13690  0.238001
13691  0.964617
13692  0.076015
13693  0.461384
13694  0.414218
13695  0.661185
13696  0.347411
13697  0.453071
13698  0.110022
13699  0.038912
13700  0.036859
13701  0.063876
13702  0.780761
13703  0.399234
13704  0.253908
13705  0.287965
13706  1.129430
13707  0.858191
13708  0.120010
13709  0.301726
13710  0.317932
13711  0.050803
13712  0.206627
13713  0.401185
13714  0.171409
13715  0.790077

[13716 rows x 1 columns]

In [0]:
dataframe1=df1.soldierId

In [25]:
dataframe1

0          47734.0
1          47735.0
2          47736.0
3          47737.0
4          47738.0
5          47739.0
6          47740.0
7          47741.0
8          47742.0
9          47743.0
10         47744.0
11         47745.0
12         47746.0
13         47747.0
14         47748.0
15         47749.0
16         47750.0
17         47751.0
18         47752.0
19         47753.0
20         47754.0
21         47755.0
22         47756.0
23         47757.0
24         47758.0
25         47759.0
26         47760.0
27         47761.0
28         47762.0
29         47763.0
           ...
13686    6210792.0
13687    6210793.0
13688    6210794.0
13689    6210795.0
13690    6210796.0
13691    6210797.0
13692    6210798.0
13693    6210799.0
13694    6220690.0
13695    6220691.0
13696    6220692.0
13697    6220693.0
13698    6220694.0
13699    6220695.0
13700    6220696.0
13701    6220697.0
13702    6220698.0
13703    6220699.0
13704    6220700.0
13705    6220701.0
13706    6220702.0
13707    6220703.0
13708    6220704.0
13709    6220705.0
13710    6220706.0
13711    6220707.0
13712    6224523.0
13713    6224524.0
13714    6224525.0
13715    6224526.0
Name: soldierId, Length: 13716, dtype: float64

In [0]:
merge=pd.DataFrame()

In [0]:
merge['soldierId']=df1['soldierId'].astype(int)

In [0]:
merge['bestSoldierPerc']=pd.DataFrame(y_pred)

   soldierId  bestSoldierPerc
0      47734         0.398605
1      47735         0.519266
2      47736         0.150797
3      47737         0.287935
4      47738         0.318686
5      47739         0.061588
6      47740         0.347411
7      47741         0.218816
8      47742         0.706301
9      47743         0.363866

In [0]:
merge.to_csv('final.csv',index=False)

In [0]:
files.download('final.csv')

In [0]:

from google.colab import files